/* Colors */
:root {
/* Primary */
  --blue: hsl(223, 87%, 63%);
/* Secondary */
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
/* Neutral */
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}
/*
- font weights: 300, 600, 700 
*/
/* CRUD */
#inputError { border: 1px solid red; }
.err { border: 1px solid #b1395f!important; }
.emsg { color: #c12020; }
/* General */
body {
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif, monospace;
  text-align: center;
}
main {
  text-align: center;
  color: var(--very-dark-blue);
  background-color: white;
  width: 80%;
  margin: auto;
}
.pingLogo {
  padding: 7rem 5rem 4rem;
}
/* Font */
h1 {
  font-weight: 300;
  font-size: 24px;
  color: var(--gray);
}
h1 span {
  font-weight: 700;
  color: var(--very-dark-blue);
}
p {
  font-size: 15px;
  padding: 2rem 0;
}
footer p {
  color: var(--gray);
}
/* Form */
form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
form input {
  flex: 1;
  padding: 1rem 0rem 1rem 2rem;
  margin-bottom: 1rem;
}
form input:focus {
  outline: none;
}
form button {
  flex: 1;
  padding: 1rem;
  border-radius: 25px;
  border: none;
  background-color: var(--blue);
  color: white;
  margin-bottom: 4rem;
}
form button:hover {
  cursor: pointer;
  background-color: var(--pale-blue);
}
.emailInput {
  border-radius: 25px;
  border: 1px solid var(--pale-blue);
}
.emailInput::placeholder {
  color: var(--pale-blue);
  opacity: .6; 
}
.emailInput:-ms-input-placeholder {
  color: var(--pale-blue);
}
.emailInput::-ms-input-placeholder {
  color: var(--pale-blue);
}

/* Img */
.dashboardImg {
  width: 100%;
  margin-bottom: 10rem;
}
.socials {
  margin-bottom: 2rem;
}
i {
  border: 1px solid var(--pale-blue);
  border-radius: 50%;
  padding: .4rem;
  color: var(--blue);
  margin-right: 1rem;
}
i:hover {
  background-color: var(--blue);
  color: white;
  border: 1px solid var(--blue);
  cursor: pointer;
}
.iconPadding {
  padding: .4rem .6rem;
}
.attribution {
  color: var(--gray);
}
.attribution a {
  text-decoration: none;
  color: var(--gray);
}
/* Media Query */
@media (min-width: 1440px) {
  h1 {
    font-size: 50px;
  }
  form {
    flex-direction: row;
    width: 60%;
  }
  form input {
    flex: .6;
  }
  input.emailInput {
    padding: 0 0 0 1rem;
    height: 50px;
    margin-right: 1rem;
  }
  form button {
    flex: .4;
  }
  .dashboardImg {
    width: 60%;
  }
}